<div class="sidebar">
  <div class="sidebar-brand">
    <h1><span>Ovni ' Nb</span></h1>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="#" class="active">
          <span class="fas fa-tachometer-alt"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-enveloppe"></span>
          <span>Messages</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-user-circle"></span>
          <span>Accounts</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <div class="test">
    <div class="">
      <h4>Hi <%= current_user.first_name %> !</h4>
      <h2>Mes demandes de réservations</h2>
      <div class="d-flex align-center justify-content-around mt-5">
        <div class="d-flex align-center justify-content-around mt-5">
          <% @reservations.each do |reservation| %>
            <div class="card" style="width: 18rem;">
              <%= cl_image_tag(reservation.ovni.photo.key, crop: :fill, class: "card-img-profile") %>
              <div class="card-body">
                <p><%= reservation.dates %></p>
                <p><%= reservation.ovni.name %></p>
                <p>
                  <% if reservation.status.nil? %>
                  En attente
                  <% elsif reservation.status %>
                  Demande acceptée
                  <% else %>
                  Demande refusée
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <h2>Mes demandes reçus</h2>
      <div class="d-flex align-center justify-content-around mt-5">
        <div class="d-flex align-center justify-content-around mt-5">
          <% current_user.demands.where(status: nil).each do |reservation| %>
            <div class="card" style="width: 18rem;">
              <%= cl_image_tag(reservation.ovni.photo.key, crop: :fill, class: "card-img-profile") %>
              <div class="card-body">
                <p><%= reservation.dates %></p>
                <p><%= reservation.ovni.name %></p>
                  <%= link_to "Accepter", approve_reservation_path(reservation), method: :patch, class: "btn-primary" %>
                  <%= link_to "Refuser", refuse_reservation_path(reservation), method: :patch, class: "btn-danger" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
