<h2>Ovnis</h2>
<ul>
  <% @ovnis.each do |ovni| %>
    <li><%= ovni.name %></li>
    <li><%= ovni.price %></li>
    <li><%= ovni.details %></li>
    <%= cl_image_tag(ovni.photo.key,
      width: 400, height: 300, crop: :fill) %>
    <%= link_to ovni.name, ovni_path(ovni.id) %>
  <% end %>
</ul>

<%= link_to new_ovni_path do %>
  <i class="fa fa-plus"></i> Add a new ovni
<% end %>
