<h2>Ovnis</h2>

<% @ovnis.each do |ovni| %>
  <div class="card-product">
    <%= cl_image_tag(ovni.photo.key, crop: :fill, class: "card-img-top") %>
    <div class="card-product-infos">
      <h2 class="name"><%= link_to ovni.name, ovni_path(ovni) %></h2>
      <p><%= ovni.details %></p>
      <p class="ovni-price"><strong><%= ovni.price%> €</strong></p>
    </div>
  </div>
<% end %>

<%= link_to new_ovni_path do %>
  <i class="fa fa-plus"></i> Add a new ovni
<% end %>
