<div class="d-flex justify-content-center">
  <h2 class="titre-index-ovni p-4">Ovnis</h2>
</div>

<%= simple_form_for :search, url: ovnis_path, method: :get do |f| %>
        <div class="search-form-control form-group d-flex">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-primary mt-0 d-flex align-items-center">
            <%= link_to "Search", ovnis_path %><i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>

<div class="card-ovni">
 <% @ovnis.each do |ovni| %>
    <%= link_to(ovni_path(ovni), class: "card-link") do %>
    <div class="card" style="width: 18rem;">
    <%= cl_image_tag(ovni.photo.key, crop: :fill, class: "card-img-top") %>
    <div class="card-body">
    <h5 class="card-title"><%= ovni.name %></h5>
    <p class="card-text"><%= ovni.details %></p>
    <p class="card-text"><strong><%= ovni.price%> €</strong></p>
    <a href="#" class="btn btn-primary">Louer</a>
    </div>
    </div>
    <% end %>
  <% end %>
</div>

<%= link_to new_ovni_path do %>
  <i class="fa fa-plus"></i> Add a new ovni
<% end %>
