<div class="container">
  <div class="row">
    <div class="col-md-8 card mt-5 pt-4">

      <%= cl_image_tag(@ovni.photo.key, crop: :fill) %>


      <%# <img class="card-img-top" src="https://static.actu.fr/uploads/2018/07/DSCN8987-1-1024x768.jpg" alt="Card image cap"> %>
      <div class="card-body">
        <h5 class="card-title">Soucoupe <%= @ovni.name %></h4>
        <p class="card-text m-4"><%= @ovni.price %> € / semaine </p>
        <p class="card-text m-4"><%= @ovni.details %></p>
      </div>
    </div>

    <div class="col-md-4 text-center mt-5">
      <div class="bg-primary text-white fw-bold rounded py-5 px-4 mb-5">
        <p>Formulaire de réservation</p>
        <%= simple_form_for [ @ovni, @reservation ] do |f| %>
          <%= f.input :dates, label: "Réservation" %>
        <% end %>
        <div class="">
          <% if current_user == @ovni.user %>
            <%= link_to 'Editer mon annonce', edit_ovni_path(@ovni), class: "btn btn-flat" %>
          <% else %>
            <%= simple_form_for [ @ovni, @reservation ] do |f| %>
              <%= f.submit value: "Réserver", class: "btn btn-flatwo"%>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="bg-primary text-white fw-bold rounded py-5 px-4">
        <p>Le profil du propriétaire</p>
        <h5><%= @ovni.price %></h4>
      </div>
    </div>
  </div>
</div>
